<div class="jumbotron">
	<h1 class="text-center">Why we're the <mark>best</mark></h1>
</div>
	<p>We destroy the competition in every aspect</p>
	<p>Take a look at <%= link_to "this", "http://nfl.com",class: "btn btn-danger" %>!</p>
	<h2>Boom there it <%= link_to "is", "http://worldstarhiphop.com", class: "btn btn-warning btn-sm" %>!!!</h2>
